* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: rgb(32,21,42);
    background: linear-gradient(180deg, rgba(32,21,42,1) 60%, rgba(85,23,145,1) 100%) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.text-1 {
    grid-area: "a";
}

.text-2 {
    grid-area: "b";
}

.text-3 {
    grid-area: "c";
}

#text {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    color: #fff;
    opacity: 0.02;
    font-size: 10em;
    justify-content: start;
    align-items:center;
    background-color: transparent;
    row-gap: 5px;
    padding-left: 20px;
    grid-template: 
        "a"
        "b"
        "c";
}


/* Styles Header*/
header {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: auto;
}

ul{
    display: flex;
    color: white;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
    gap: 50px;
}

.navbar-item {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.4em;
    position: relative;
}

.navbar-item p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 2px; 
    background-color: white;
    transition: width 0.3s ease; 
}

.navbar-item p:hover::after {
    width: 100%;
}

/* Texto Main y img */
.main-part {
    display: flex;
    justify-content: space-around; 
    position: relative;
    width: 100%;
}

.page-main {
    display: block;
    width: 100%;
    align-items: center;
}

.text-main {
    color: white;
    width: 100%;
    padding: 60px;
    margin-top: 120px;
    position: relative; 
}

.text-main h1 {
    padding-bottom: 30px;
    font-size: 3.5em;
}

.text-main h2 {
    padding-bottom: 30px;
    font-size: 2em;
}

/* Section images */
.background-index, .image-main {
    position: absolute;
    top: 0;
    right: 50px; 
    margin-bottom: 10px;

}

.background-index{
    margin-bottom: 10px;
}

.background-index img {
    width: 670px;
    z-index: -2; 
}

.image-main img {
    width: 600px;
    z-index: 0;
}

.background-index, .image-main {
    display: inline-block; 
}


/*Boton "Empezar a jugar"*/

.button {
    display: inline-block; 
    text-align: center; 
    width: 220px;
    height: 52px;
    line-height: 52px; 
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 30px;
    border: none;
    background: #7b2cbf;
    box-shadow: 0 0.1rem 0.8rem rgba(85, 23, 145, 1);
    transition: all 0.5s ease-out;
    text-decoration: none; 
}

.button:hover, .button:focus{
    background: rgb(68, 10, 145);
    box-shadow: 0 0.2rem 1rem rgba(85, 23, 145, 0.6);
    color: #fff;
}

/*responsivo*/

/*para menor a 1024 no sera compatible*/

.incompatibility-message {
    display: none;
}

@media (max-width: 1020px) {
    .incompatibility-message {
        display: flex; 
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #ffffff;
        text-align: center;
        z-index: 1000;
        background: linear-gradient(180deg, rgba(85,23,145,1) 20%, rgba(32,21,42,1) 90%) no-repeat;
    }

    .incompatibility-message h1 {
        display: flex;
        margin: 20px 0;
    }

    .incompatibility-message img {
        max-width: 80%; 
        height: auto; 
        margin: 20px 0; 
    }

    .page-main, header{
        width: auto;
        height: auto;
        min-height: 100vh;
        display: none;
    }
}




