@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html {
    scrollbar-width: none;
}

body {
    background: rgb(32,21,42);
    background: linear-gradient(180deg, rgba(32,21,42,1) 60%, rgba(85,23,145,1) 100%) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/*texto de fondo*/

.text-1 {
    grid-area: "a";
}

.text-2 {
    grid-area: "b";
}

.text-3 {
    grid-area: "c";
}

#text {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    color: #fff;
    opacity: 0.02;
    font-size: 10em;
    justify-content: start;
    align-items:center;
    background-color: transparent;
    row-gap: 5px;
    padding-left: 20px;
    grid-template: 
        "a"
        "b"
        "c";
}

/* Styles Header*/
header {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: auto;
}

ul{
    display: flex;
    color: white;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
    gap: 50px;
    margin-right: 50px;
}

.navbar-item {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.4em;
    position: relative;
}

.navbar-item p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 2px; 
    background-color: white;
    transition: width 0.3s ease; 
}

.navbar-item p:hover::after {
    width: 100%;
}

/*Contacto styles*/

.Section-2 {
    background: transparent; 
    color: #fff;
    
}

.container {
    width: fit-content;
    display: flex;
    backdrop-filter: blur(10px);
    gap: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.596); 
    border-radius: 16px; 
}

.content {
    width: fit-content;
}

.info, .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1, h3 {
    margin: 0 0 20px;
}

.text-info {
    max-width: 500px; 
    text-align: start;
    line-height: 1.6;
}

#linkEscuela
{
    color: white;
    transition: all 0.6s ease;
    text-decoration: none;
}

#linkEscuela:hover {
    color:rgb(117, 40, 189);
    text-decoration:underline;
}

#t1 {
    color: #d2c71b;
}

#t2 {
    color: #d2c71b;
}

#saludo {
    font-size: 1.5rem;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;  
}

.text-info a {
    color: white;
    transition: all 0.6s ease;
    text-decoration: none;
}

.text-info a:hover {
    color:rgb(117, 40, 189);
    text-decoration: underline;
}

.contact-form {
    max-width: 500px; 
    width: 100%; 
}

.contact-form label {
    font-weight: bold;
}

input, textarea {
    font-weight: bold;
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    background: transparent;
    color: #fff;
    border: 1px solid #550696;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px; 
}

button {
    display: inline-block; 
    text-align: center; 
    width: 200px;
    height: 32px;
    line-height: 22px; 
    margin-top: 1rem;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 30px;
    border: none;
    background: #7b2cbf;
    box-shadow: 0 0.1rem 0.8rem rgba(85,23,145,1);
    transition: all 0.6s ease;
    text-decoration: none; 
}

button:hover {
    background: linear-gradient(117deg, rgb(68, 10, 145), rgb(117, 40, 189));
}



/* Responsive Styles */
/* Responsive Styles */
@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body, html {
        margin: 0;
        padding: 0;
        position: relative;
        background: rgb(32,21,42);
        background: linear-gradient(180deg, rgba(32,21,42,1) 60%, rgba(85,23,145,1) 100%) no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        width: 100%;
        overflow-x: hidden;
    }

    header {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    header nav {
        flex-direction: column;
        height: auto;
        padding: 20px;
        width: 100%;
        align-items: center;
    }
    
    nav a {
        padding: 10px 0;
        font-size: 1.2em;
    }
    
    .Section-2 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        width: 100%;
    }
    
    .text-aboutus {
        position: relative;
        padding: 20px;
        width: 100%;
    }
    
    .content-contact {
        display: flex;
        position: relative;
        font-size: 1.0em;
        padding: 20px;
        width: 100%;
    }

    .content-contact a {
        display: flex;
        position: relative;
    }
    
    .content {
        margin-top: 30px;
        width: 100%;
    }
    
    .contact-form form {
        grid-template-columns: 1fr;
        margin: 0;
        width: 100%;
        padding: 0 20px;
    }
    
    .contact-form form .block {
        grid-column: 1 / 2;
    }
}
